extends layout

block content
  .main
    .ul.list-unstyled.galery-list
      .li.media.mb-1.mt-1
        img.mr-3(src='images/tesla_s.jpg')
      .li.media.mb-1.mt-1
        img.mr-3(src='images/tesla_outdoor.jpg')
      .li.media.mb-1.mt-1
        img.mr-3(src='images/cybertruck1.jpg')
      .li.media.mb-1.mt-1
        img.mr-3(src='images/elon-mobile.jpg')
        
