extends layout

block content
  .main
    p.text-center.text-light
      h1.text-center.text-light Tesla, Inc. -
      p.text-center.text-light.
        amerykańskie przedsiębiorstwo motoryzacyjne produkujące w pełni
        elektryczne samochody, założone 1 lipca 2003 roku. W lutym 2004
        prezesem rady nadzorczej przedsiębiorstwa został Elon Musk, który
        później (w październiku 2008) został prezesem Tesla, Inc. Od 2003 do
        2008 roku trwały prace nad wprowadzeniem do produkcji pierwszego
        samochodu marki Tesla o nazwie Roadster. Auto powstało we współpracy
        z Lotus Cars. Sylwetka auta zbliżona jest do Lotusa Elise oraz
        Europa. Pojazd wprowadzono do produkcji w 2008 roku. Rok później
        zaprezentowano prototyp 7-osobowego liftbacka segmentu E o zasięgu
        na jednym ładowaniu 300 mil oraz sportowych osiągach. Produkcja
        pojazdu rozpoczęła się w czerwcu 2012 roku pod nazwą Model S. Pod
        koniec 2014 roku do produkcji wszedł wariant z dwoma silnikami
        elektrycznymi, pozwalający na osiągnięcie 100 km/h w 3,2 s. Każdy
        produkowany od tamtego momentu pojazd otrzymał system aktywnej
        prewencji kolizji oraz możliwość dokupienia systemu Autopilot. 29
        września 2015 roku odbyła się prezentacja oraz wręczenie pierwszych
        kluczyków do nowego Modelu X, który jest siedmioosobowym
        crossoverem. 31 marca 2016 został zaprezentowany Model 3. Do 31
        stycznia 2016 przedsiębiorstwo funkcjonowało pod firmą Tesla Motors.
        Tesla na giełdzie w 2017 była wyceniana wyżej niż General Motors i
        Ford. Odpowiednio dla Tesli było 50,84 mld dolarów, około 50 mln
        dolarów więcej niż GM, Ford był wyceniany na 45 mld. W styczniu 2018
        na Wall Street, za akcję Tesli płacono ok. 346 dolarów. Akcje
        General Motors wyceniane są na 44,16 dolara, Forda na 12,05 dolara.
