extends layout

block content
  .main
    .photoAndInfo
      figure
        img(src='images/elon.jpg')
        figcaption.text-center.text-light <b>Elon Reeve Musk</b>  
      span.text-white.
        Południowoafrykański przedsiębiorca i filantrop, założyciel lub współzałożyciel przedsiębiorstw PayPal, SpaceX, Tesla,
        Neuralink i Boring Company od lat mieszkający w Ameryce Północnej (posiada obywatelstwo południowoafrykańskie, kanadyjskie oraz amerykańskie).
        Obecnie      Według stanu na październik 2018 roku jego majątek wynosi 22,8 mld USD, dzięki czemu znalazł się na 54. pozycji najbogatszych ludzi świata magazynu Forbes. jest dyrektorem generalnym i technicznym w SpaceX, dyrektorem generalnym i głównym architektem w Tesla Inc.
